<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SenseOhGym"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Ex10Activity"
            android:exported="false" />
        <activity
            android:name=".Ex9Activity"
            android:exported="false" />
        <activity
            android:name=".MemberHelpActivity"
            android:exported="false" />
        <activity
            android:name=".McActivity"
            android:exported="false" />
        <activity
            android:name=".ManageUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".ManageActivity"
            android:exported="true" />
        <activity
            android:name=".MachineDataActivity"
            android:exported="true" />
        <activity
            android:name=".MemberRegActivity"
            android:exported="true" />
        <activity
            android:name=".MyHealthActivity"
            android:exported="true" />
        <activity
            android:name=".ChartActivity"
            android:exported="true" />
        <activity
            android:name=".PopupActivity"
            android:exported="false"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".Ex8Activity"
            android:exported="false" />
        <activity
            android:name=".Ex7Activity"
            android:exported="false" />
        <activity
            android:name=".Ex6Activity"
            android:exported="false" />
        <activity
            android:name=".Ex5Activity"
            android:exported="false" />
        <activity
            android:name=".Ex4Activity"
            android:exported="false" />
        <activity
            android:name=".Ex3Activity"
            android:exported="false" />
        <activity
            android:name=".Ex2Activity"
            android:exported="false" />
        <activity
            android:name=".Ex1Activity"
            android:exported="false" />
        <activity
            android:name=".IntroActivity"
            android:exported="false" />
        <activity
            android:name=".ExerActivity"
            android:exported="false" />
        <activity
            android:name=".Rev1_1Activity"
            android:exported="false" />
        <activity
            android:name=".BoardActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".AdminActivity"
            android:enabled="true" />
    </application>

</manifest>